@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope)
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #111814;
  --accent-darkgreen: #3B5447;
  --accent-lightgreen: #ABC4B7;
  --accent-tangerine: #E29578;
  --foreground: #FAF9F9;
  font-family: "Manrope", sans-serif;
  --font-dm-serif: "DM Serif Display";
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.serif{
  font-family: "DM Serif Display", serif;
}